##############################
# Data folder
##############################
data/


##############################
# Jupyter Notebook checkpoints
##############################
**/.ipynb_checkpoints/
